import { useGet<%= pascalCase(name) %>Query } from '../hooks/use-get-<%= name %>.query';

export function <%= pascalCase(name) %>Page() {
  const data = useGet<%= pascalCase(name) %>Query();

  return (
    <div>
      <h1>Welcome</h1>
      <div>{JSON.stringify(data)}</div>
    </div>
  );
}
