import { TService } from '@self/api-core';
import { TGet<%= pascalCase(name) %>Response } from './get-<%= name %>.schema';
import { injectable } from 'tsyringe';

@injectable()
export class Get<%= pascalCase(name) %>Service
  implements TService<undefined, TGet<%= pascalCase(name) %>Response>
{
  execute() {
    return Promise.resolve({
      message: 'Hello, world!',
    });
  }
}
